<template>
  <div class="hello">
    

    <!-- Calculadora -->
    <div class="c-Calculadora" id="Calculadora">
      <div class="c-Calculadora__header">
        <h1 class="c-Calculadora__title">Ingresa dos números presiona el botón 'Sumar'</h1>
      </div>
      <div class="c-Calculadora__content">
        <input v-model="numero_a" type="text" class="c-Calculadora__numero" id="numero_a">
        <input type="text" class="c-Calculadora__operador">
        <input v-model="numero_b" type="text" class="c-Calculadora__numero" id="numero_b">
        <button v-on:click="sumar" class="c-Calculadora__boton">Sumar</button>

        <div class="c-Calculadora__resultado">
          <div class="c-Calculadora__resultado__content">
            Resultado: {{ resultado }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
